name: Test

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run Tests
        run: npm test -- --coverage --watchAll=false

      - name: Upload test-report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: coverage/
